* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    min-height: 100vh;
}

form {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
    padding: 3rem 2rem 2rem 2rem;
    border-radius: 11px;
}

#forms {
    color: white;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 27%, rgba(0,212,255,1) 100%);
}

.firstForm label {
    color: white;
}